.image-class{
    margin-right: 20px;
    float: left;
    width: 170px;
    height: 300px;
    padding: 10px 10px;
}

#products{
    padding: 10px;
}
.prod{
    flex-direction: column;
    margin-bottom: 60px;
}

.image-star{
    width: 115px;
    margin-left: -10px;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/