#albm {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 80%;
  margin-left: 10px;
}

h1{
  text-align: center;
}

.main-word{
  font-size: 40px;
  color: #32861e;
}

fieldset{
  display: inline-flex;
  width: 80%;
  border-radius: 5px;
  justify-content: space-between;
}

#deleteAlbum {
  background-color: rgba(201, 56, 30, 0.87);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 28px;
}

#deleteAlbum:hover {
  background-color: #d14225;
}

#add-btn {
  background-color: #33cc33;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 38px;
}

#add-btn:hover {
  background-color: #1aa12a;
}

input[type="text"] {
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 18px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
}
.container{
  margin-left: 170px;

}

