
a {
  text-decoration: none;
  font-size: 30px;
  color: #61ab62;
  font-weight: bold;
  padding: 10px;
}
a:hover {
  text-decoration: underline 2px;
  color: #1e9322;
}
ul, li {
  list-style-type: none;
  padding: 50px 20px 50px 160px;
  display: inline;
}

div {
  margin-top: 60px;
}
header{
  background-color: #bff6c1;
}

